<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <base th:href="${#request.getContextPath()}+'/'" />
</head>
<body>
    <table border="1px" cellspacing="0px">
        <thead>
            <tr>
                <th>编号</th>
                <th>班级名称</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="c : ${classList}">
                <td th:text="${c.id}"></td>
                <td th:text="${c.className}"></td>
            </tr>
        </tbody>
        <form action="class/insert" method="get">
            <tr>
                <td>编号：</td>
                <td><input type="text" name="id"></td>
            </tr>
            <tr>
                <td>班级名称：</td>
                <td><input type="text" name="className"></td>
            </tr>
            <tr>
                <td colspan="2"><button type="submit">添加</button></td>
            </tr>
        </form>
    </table>
</body>
</html>